<!DOCTYPE html>
<html lang="en">

<body class="container-fluid w-100 h-100 p-0 m-0" style="background-color: #e9ecef;">

    <head>
        <%- include('../partials/head'); %>
    </head>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 p-0 m-0">
                <header>
                    <%- include('../partials/header'); %>
                </header>
            </div>
            <div class="col-10 col-10  m-0 jumbotron">
                <main>
                    <div class="container-fluid">

                        <div class="container">
                            <div class="row">
                                <div class="col-9">
                                    <h3><i class="bi bi-person-lines-fill"></i> Employee information</h3>
                                    <hr>
                                </div>

                                <div class="col-4">
                                    <h4><b>Name</b></h4>
                                    <p>
                                        <%=data.firstname%>
                                            <%=data.lastname%>
                                    </p>
                                    <h4><b>Title</b></h4>
                                    <p>
                                        <%=data.title%>
                                    </p>
                                    <h4><b>Title Of Courtesy</b></h4>
                                    <p>
                                        <%=data.titleofcourtesy%>
                                    </p>
                                    <h4><b>Birth Date</b></h4>
                                    <p>
                                        <%=data.birthdate%>
                                    </p>
                                    <h4><b>Hire Date</b></h4>
                                    <p>
                                        <%=data.hiredate%>
                                    </p>
                                    <h4><b>Address</b></h4>
                                    <p>
                                        <%=data.address%>
                                    </p>
                                    <h4><b>City</b></h4>
                                    <p>
                                        <%=data.city%>
                                    </p>
                                </div>
                                <div class="col-6">
                                    <h4><b>Postal Code</b></h4>
                                    <p>
                                        <%=data.postalcode%>
                                    </p>
                                    <h4><b>Country</b></h4>
                                    <p>
                                        <%=data.country%>
                                    </p>
                                    <h4><b>Home Phone</b></h4>
                                    <p>
                                        <%=data.homephone%>
                                    </p>
                                    <h4><b>Extension</b></h4>
                                    <p>
                                        <%=data.extension%>
                                    </p>
                                    <h4><b>Notes</b></h4>
                                    <p>
                                        <%=data.notes%>
                                    </p>
                                    <h4><b>Reports To</b></h4>
                                    <p>
                                        <a href='/employees/<%=link.employeeid%>'>
                                            <%=link.firstname%>
                                                <%=link.lastname%>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <a href="/employees" class="btn btn-danger active" role="button" data-bs-toggle="button"
                            aria-pressed="true">Go back</a>
                    </div>
                </main>
            </div>
        </div>
    </div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>