<!DOCTYPE html>
<html lang="en">

<body class="container-fluid w-100 h-100 p-0 m-0" style="background-color: #e9ecef;">

    <head>
        <%- include('../partials/head'); %>
    </head>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 p-0 m-0">
                <header>
                    <%- include('../partials/header'); %>
                </header>
            </div>
            <div class="col-10 col-10  m-0 jumbotron">
                <main>
                    <div class="container-fluid">
                        <h4><b>Products</b></h4>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col"><b>Name</b></th>
                                    <th scope="col"><b>Qt per unit</b></th>
                                    <th scope="col"><b>Price</b></th>
                                    <th scope="col"><b>Stock</b></th>
                                    <th scope="col"><b>Orders</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (data.length) { %>
                                    <ul>
                                        <% data.forEach(function (product) { %>
                                            <tr>
                                                <td>
                                                    <a href='/products/<%=product.productid%>'>
                                                        <%=product.productname%>
                                                    </a>
                                                </td>
                                                <td>
                                                    <%=product.quantityperunit%>
                                                </td>
                                                <td>
                                                    $<%=product.unitprice%>
                                                </td>
                                                <td>
                                                    <%=product.unitinstock%>
                                                </td>
                                                <td>
                                                    <%=product.unitsonorder%>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </ul>
                                    <% } %>

                            </tbody>
                        </table>


                    </div>
                </main>
            </div>
        </div>
    </div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>